{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{'orders.orders'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(items, 'orders.id'|trans, 'o.id') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.skateboard'|trans, 's.price') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.name'|trans, 'o.name') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.surname'|trans, 'o.surname') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.email'|trans, 'o.email') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.phone'|trans, 'o.phone') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.city'|trans, 'o.city') }}</th>
                <th>{{ knp_pagination_sortable(items, 'orders.address'|trans, 'o.address') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in items %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    {{ order.skateboard.title }}
                    {{ order.skateboard.price }} Eu
                </td>
                <td>{{ order.name|default('-') }}</td>
                <td>{{ order.surname|default('-') }}</td>
                <td>{{ order.email|default('-') }}</td>
                <td>{{ order.phone|default('-') }}</td>
                <td>{{ order.city|default('-') }}</td>
                <td>{{ order.address|default('-') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'orders.no_records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(items)}}
    </div>
{% endblock %}